<img class="titlePic" src="http://thumbs.dreamstime.com/thumbimg_341/1228726954blJ3If.jpg">
<h1 class="title">Recipe Docs</h1><hr>


<%= link_to "Back to all recipes", recipes_path %>

<h2>Submit A Recipe!</h2>
<%= render 'formPreList' %>
